@import url("theme.css");

.wy-nav-side, .wy-side-nav-search {
    background-color: #ffffd0;
    box-shadow: 0px 0px 20px black; 
}

.wy-side-nav-search > a {
    font-size: 0;
}

img.logo {
    width: 120% !important;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
}

.myclass-a {
    background-color: yellow;
}

iframe.plezuro_source {
    width: 100%;
}
